# Ignore PyCharm project files
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/httpRequests/
.idea/modules.xml
.idea/vcs.xml
.idea/logs/

# Ignore Python virtual environment files
pyvenv.cfg
venv/
env/
# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log
logs/
debug.log

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore environment files
.env
.env.local
